<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Will It Rain?</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='checkboxes.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">

</head>
<body>
<div style="text-align: center;">

  <form class="pure-form" action="http://localhost:5000/weatheresult" method="POST">
        <!-- rain checkbox  -->

        <label for="option-one" class="pure-checkbox" name = "Rain">
            <input id="option-one" type="checkbox" value="">
            Rain

        </label>

        <!-- snow checkbox -->

        <label for="option-one" class="pure-checkbox" name = "Snow">
            <input id="option-two" type="checkbox" value="">
            Snow
        </label>
      

    <!-- search box -->
      <p><h2 style = "font-weight: bold; font-size: 30px">When will it precipitate next in: </h2><input type="text" name="text-box" placeholder="Enter a location"></p>
    <!-- button -->
    <button class="pure-button">Submit</button>
  </form>
</div>

</body>
</html>
