<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styleTest.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">


     <nav>
    <div class="nav-wrapper teal">
      <a href="#" class="brand-logo center">When Will It Rain</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="sass.html"></a></li>
        <li><a href="badges.html"></a></li>
        <li><a href="collapsible.html"></a></li>
      </ul>
    </div>
  </nav>


    <div class="row">
        <div class="col s12 push-m3">
            <div class="card grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">LOCATION GOES HERE</span>
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                </div>
            </div>
        </div>
    </div>

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <div style="text-align:center;padding:1em 0;"> <h3><a style="text-decoration:white;" href="https://www.zeitverschiebung.net/en/city/6058560"><span style="color:white;">Current local time in</span><br />London, Canada</a></h3> <iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=en&size=medium&timezone=America%2FToronto" width="100%" height="115" frameborder="0" seamless></iframe> </div>

    <table width="450" border="2" cellspacing="0" cellpadding="5" align="center"><tr><td bgcolor="#FFFFFF" bordercolor="#000066"><script src="http://feeds2.feedburner.com/inspired-personal-development?format=sigpro" type="text/javascript" ></script><noscript><p>Subscribe to RSS headline updates from: <a href="http://feeds2.feedburner.com/inspired-personal-development"></a><br/>Powered by FeedBurner</p> </noscript></td></tr></table>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
